
{% extends 'base.html' %}

{% block title %} Users {% endblock %}


{% block body %}
    {% include 'nav.html' %}
    <div class="container">
        {% for user in users %}
          <div class="slide" style="text-align:center">
              <div class="slide-container">
                  <div class="row">
                      <div>
                          <img class="profile-picture" src="{{ user.picture_url }}">
                      </div>
                  </div>
                  <div class="row">
                      <div>
                          <h3>{{ user.name }}</h3>
                          <h4>Culiacán, Sinaloa</h4>
                          <!-- <h4>{{ user.full_location }}</h4> -->
                      </div>
                  </div>

                  <div class="row profile-details">
                      <!-- <h4>Scrum Hacker</h4> -->
                      <h4>{{ user.headline }}</h4>
                      <p>
                          {{ user.details }}
                      </p>
                  </div>

                  <div class="row profile-skills">
                      <h4>Habilidades</h4>
                      <span class="skill">Scrum</span>
                      <span class="skill">Angularjs</span>
                      <span class="skill">Elixir</span>
                  </div>
              </div>
          </div>

          <div class="slide-buttons">
              <div class="col-md-12">
                  <div class="col-md-6 col-xs-6">
                    {% if users.has_next %}
                      <a href="?page={{ users.next_page_number }}" class="bg-btn dislike-btn glyphicon glyphicon-remove"></a>
                    {% endif %}
                  </div>
                  <div class="col-md-6 col-xs-6">
                    {% if users.has_next %}
                      <a href="?page={{ users.next_page_number }}"><span class="bg-btn like-btn glyphicon glyphicon-ok"></span></a>
                    {% endif %}

                  </div>
              </div>
          </div>
        {% endfor %}
    </div>

{% endblock %}