{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Users {% endblock %}


{% block body %}
    {% include 'nav.html' %}
    <div class="container" id='content'>
        {% for user in users %}
          <div class="slide" style="text-align:center">
              <div class="slide-container">
                  <div class="row">
                      <div>
                          <img class="profile-picture" src="{{ user.picture_url }}">
                      </div>
                  </div>
                  <div class="row">
                      <div>
                          <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                          <h4>{{ user.location }}</h4>
                      </div>
                  </div>

                  <div class="row profile-details">
                      <h4>{{ user.headline }}</h4>
                      <p>
                          {{ user.resume }}
                      </p>
                  </div>

                  <div class="row profile-skills">
                      <h4>Habilidades</h4>
                      <span class="skill">Scrum</span>
                      <span class="skill">Angularjs</span>
                      <span class="skill">Elixir</span>
                  </div>
              </div>
          </div>
          <div class="slide-buttons">
              <div class="col-md-12">

                  <!-- dislike -->
                  <div class="col-md-6 col-xs-6">
                    {% if users.has_next %}
                      <a href="?page={{ users.next_page_number }}" class="bg-btn dislike-btn glyphicon glyphicon-remove"></a>
                    {% else %}
                      <a href="#" class="bg-btn dislike-btn glyphicon glyphicon-remove" id='hideshow'></a>
                    {% endif %}
                  </div>

                  <!-- Like -->
                  <div class="col-md-6 col-xs-6">
                    <form action='/users/' method="POST">
                        {% csrf_token %}
                        {% if users.has_next %}
                          <input type="hidden" name="page" value="{{users.next_page_number}}" />
                        {% else %}
                          <input type="hidden" name="page" value="0">
                        {% endif %}
                        <input type="hidden" name="userId" value="{{ user.id }}" />
                        <button type="submit" class="bg-btn like-btn glyphicon glyphicon-ok"></button>
                    </form>
                  </div>
              </div>
          </div>
        {% endfor %}
    </div>
    <div id='more' class="container" style="text-align:center">
      <h3>Por el momento, ya no hay más usuarios, ¡revisa más tarde!</h3>
    </div>

<script type="text/javascript" src="{% static 'jquery/dist/jquery.js'%}"></script>
<script type="text/javascript">
  $(document).ready(function(){
    // $('#more').toggle('show');
    console.log({{ users.paginator.count }});
    console.log({{ users.number }});
    $('#more').hide();
    if ({{ users.number }} === {{ users.paginator.count }}) {
      $('#more').show();
      $('#content').toggle('show');
    }
    // This function is redundant, will fix it later.
    $('#hideshow').on('click', function(event) {
      $('#content').toggle('show');
      $('#more').toggle('show');
    });
  });

</script>

{% endblock %}
