body {
    background: #EFEFEF;
}

span{
  text-align: center;
}
p{
  color:#6B6B6B;
}
h1{
  text-align: center;
}

/* Navigation bar */
.navbar-default {
    background-color: #FFFFFF;
    border-radius: 0;
    border: none;
}

.navbar-brand {
    font-weight: bold;
    font-size: 18px;
}

.container {
    max-width: 650px;
}



/* slide seccion */
.slide {
    background: #fff;
    border-radius: 4px;
    padding: 20px 45px 30px 30px;
}

.profile-picture {
    width: 30%;
    border-radius: 50%;
}

.vacant-logo {
    width: 50%;
    margin-top: 15px;
}

.profile-details,
.profile-skills {
    margin-left: 3px;
    margin-top: 15px;
}

.profile-details p {
    text-align: justify;
    font-size: 15px;
    color: #6B6B6B;
}

.skill {
    background: #009CF7;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    border-radius: 3px;
}

.slide-buttons {
    margin-bottom: 56px;
    background: #fff;
    height: 119px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.bg-btn {
    width: 100%;
    color: #fff;
    font-size: 35px;
    background: #ccc;
    text-align: center;
    border-radius: 4px;
    padding: 30px 10px;
    margin-bottom: 10px;
    border: none;
}

.bg-btn:hover {
    text-decoration: none;
    color: #fff
}

.bg-btn:active {
    text-decoration: none;
    color: #fff
}


.like-btn {
    background: #4DA25F;
}

.dislike-btn {
    background: #E47575;
}

.dislike-btn:hover {
    background: #B33232;
}

.like-btn:hover {
    background: #007719;
}

.disabled,
.disabled:hover {
  background: #C1C1C1;
}

/*  Match   */
.match-views {
    background: #fff;
    border-radius: 4px;
    padding: 30px 30px 30px 30px;
}

.row{
    padding-bottom: 20px;
}

.profile-picture-match {
    width: 80%;
    border-radius: 20%;
}
.name_unemployed{
    font-size: 1em;
}
.spacer{
  padding-bottom: 15px;
}


/* Signup form */
#logo-bg {
  text-align: center;
  font-family: inherit;
  margin-top: 5%;
  font-weight: bold;
  font-size: 45px;
}

.sign-form {
  margin-top: 1%;
}

.sign-form-head {
    text-align: center;
    margin: 7px 0px 20px 0;
    font-size: 16px;
    color: #929292;
}

.sign-form form input[type="text"],
.sign-form form input[type="email"],
.sign-form form input[type="password"] {
  width: 100%;
  padding: 8px 12px;
  border-radius: 3px;
  border: 2px solid #ccc;
  margin-bottom: 5px;
}


.submit {
  width: 100%;
  padding: 10px;
  background: #4DA25F;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
}

.submit:hover {
  color: #fff;
  background: #007719;
}

.errorlist {
    padding: 0;
    list-style: none;
    color: #C51F1F;
    font-weight: bold;
}
