body {
    background: #EFEFEF;
}

span{
  text-align: center;
}
h5{
  color:#359FCC;
}

/* Navigation bar */

.navbar-default {
    background-color: #FFFFFF;
    border-radius: 0;
    border: none;
}

.navbar-brand {
    font-weight: bold;
    font-size: 18px;
}

.container {
    max-width: 650px;
}



/* slide seccion */

.slide {
    background: #fff;
    border-radius: 4px;
    padding: 20px 80px 30px 30px;
}

.profile-picture {
    width: 80%;
    border-radius: 50%;
}

.profile-details,
.profile-skills {
    margin-left: 3px;
    margin-top: 15px;
}

.profile-details p {
    text-align: justify;
    font-size: 15px;
    color: #6B6B6B;
}

.skill {
    background: #009CF7;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    border-radius: 3px;
}

.slide-buttons {
    margin-top: 17px;
    margin-bottom: 56px;
}

.bg-btn {
    width: 100%;
    color: #fff;
    background: #ccc;
    text-align: center;
    border-radius: 4px;
    padding: 30px 10px;
    font-size: 35px;
}

.bg-btn:hover {
    text-decoration: none;
    color: #fff
}

.bg-btn:active {
    text-decoration: none;
    color: #fff
}

.like-btn {
    background: #4DA25F;
}

.dislike-btn {
    background: #E47575;
}

.dislike-btn:hover {
    background: #B33232;
}

.like-btn:hover {
    background: #007719;
}


/*  Match   */
.match-views {
    background: #fff;
    border-radius: 4px;
    padding: 30px 30px 30px 30px;
}

.row{
    padding-bottom: 20px;
}

.profile-picture-match {
    width: 80%;
    border-radius: 20%;
}
.center-block>imagen{

}
