/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .profile-picture {
        width: 50%;
    }

    .vacant-logo {
        width: 85%;
    }

    .slide {
        text-align: center;
    }

    .slide-buttons {
        height: 115px;
    }

    .page-title {
        font-size: 20px;
    }
}
