{% extends 'base.html' %}

{% block title %} Vacants {% endblock %}


{% block body %}
    {% include 'nav.html' %}

    <div class="container">
        <div class="slide" style="text-align:center">
            <div class="slide-container">
                <div class="row">
                    <div>
                        <img class="vacant-logo" src="https://www.atlassian.com/wac/sectionWrap/01/column/0/imageBinary/jirasoftware_rgb_blue%20(1).png">
                    </div>
                </div>
                <div class="row">
                    <div>
                        <h3>Backend developer</h3> 
                        <h4>San Francisco CA</h4> 
                    </div>
                </div>

                <div class="row profile-details">
                    <h4>Ruby backend developer</h4>
                    <p>
                        In tincidunt ex leo, in lobortis arcu elementum vitae. 
                        Donec tempor sagittis nulla, sed faucibus erat. Integer 
                        vel sem tellus. Cum sociis natoque penatibus et magnis 
                        dis parturient montes, nascetur ridiculus mus. Nullam 
                        sapien enim, viverra ac finibus sed, aliquet nec magna. 
                        Sed at lorem eget ante tristique varius id vel urna.
                    </p>
                </div>

                <div class="row profile-skills">
                    <h4>Habilidades requeridas</h4>
                    <span class="skill">Ruby</span>
                    <span class="skill">Rails</span>
                    <span class="skill">Agile</span>
                </div>
            </div>
        </div>

        <div class="slide-buttons">
            <div class="col-md-12">
                <div class="col-md-6 col-xs-6">
                    <a href="" class="bg-btn dislike-btn glyphicon glyphicon-remove"></a>
                </div>
                <div class="col-md-6 col-xs-6">
                    <a href=""><span class="bg-btn like-btn glyphicon glyphicon-ok"></span></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}