{% extends 'base.html' %}

{% block title %} Vacants {% endblock %}


{% block body %}
    {% include 'nav.html' %}

    <div class="container">
        {% for vacant in vacants %}
            <div class="slide" style="text-align:center">
                <div class="slide-container">
                    <div class="row">
                        <div>
                            <img class="profile-picture" src="{{ vacant.picture.url }}">
                        </div>
                        <div>
                            <h3>{{ vacant.name }}</h3>
                            <h4>Culiacán Sinaloa</h4>
                        </div>
                    </div>

                    <div class="row profile-details">
                        <h4>Lead software developer</h4>
                        <p>
                            {{ vacant.details }}
                        </p>
                    </div>

                    <div class="row profile-skills">
                        <h4>Habilidades</h4>
                        <span class="skill">Scrum</span>
                        <span class="skill">Angularjs</span>
                        <span class="skill">Elixir</span>
                    </div>
                </div>
            </div>

            <div class="slide-buttons">
                <div class="col-md-12">
                    <div class="col-md-6 col-xs-6">
                      {% if vacants.has_next %}
                        <a href="?page={{ vacants.next_page_number }}" class="bg-btn dislike-btn glyphicon glyphicon-remove"></a>
                      {% endif %}
                    </div>
                    <div class="col-md-6 col-xs-6">
                      {% if vacants.has_next %}
                        <a href="?page={{ vacants.next_page_number }}"><span class="bg-btn like-btn glyphicon glyphicon-ok"></span></a>
                      {% endif %}

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
