autobahn==0.10.9
chardet==2.0.1
Django==1.8.2
django-annoying==0.8.4
django-appconf==1.0.1
django-bower==5.0.4
django-imagekit==3.2.6
django-socket-server==0.0.4
ecdsa==0.13
Fabric==1.10.1
fpconst==0.7.2
lxml==3.4.4
oauthlib==1.0.3
paramiko==1.15.2
pilkit==1.1.12
Pillow==2.8.1
pycrypto==2.6.1
python-apt==0.8.8.2
python-debian==0.1.21
python-debianbts==1.11
python-linkedin==4.1
pytz==2015.4
reportbug==6.4.4
requests==2.7.0
requests-oauthlib==0.5.0
six==1.9.0
SOAPpy==0.12.0
Twisted==15.4.0
txaio==2.1.0
uWSGI==2.0.10
virtualenv==13.0.1
wheel==0.23.0
zope.interface==4.1.3
